baseurl: "www.example.com"
actions:
  - input:
      id: "el_id"
      row_header: "header_name" 
  - click:
      id: "el_id"
  - wait:
      id: "el_id"
  - click_child:
      id: "el_id"
      tag: "a"
  - switch_window:
      index: 1
  - read:
      id: "el_id"
